/* .container,
.container-fluid,
.container-sm,
.container-md,
.container-lg,
.container-xl {
  width: 100%;
  padding-right: 1px !important;
  padding-left: 1px !important;
  margin-right: auto;
  margin-left: auto;
} */

.container-fluid {
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  margin-right: auto;
  margin-left: auto;
}
