.container-fluid {
  width: 100%;
  padding-right: 5rem;
  padding-left: 5rem;
  margin-right: auto;
  margin-left: auto;
}
/* Sticky sidebar */
/* #accordionSidebar {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  z-index: 1020;
}
html,
body,
#wrapper {
  height: 100%;
} */
